:root {
    --text: #03060a;
    --background: #fafbfd;
    --primary: #4372c2;
    --secondary: #f0ad83;
    --accent: #e9f64a;
    --purple: #663da8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text);
    font-family: Roboto;
}

main {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-inline: 1em;
}

main header {
    background-color: var(--primary);
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 1em;
}

.hidden {
    display: none;
}

.lang {
    color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.lang img {
    max-width: 45px;
}

.lang img:hover {
    cursor: pointer;
}

main > img {
    max-width: 100%;
}

.divider {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 4fr;
    padding-bottom: 2em;
}

.menu {
    padding-top: 1em;
}

.menu ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 1em;
}

.menu a {
    text-decoration: none;
    color: var(--primary);
    font-size: 1.1rem;
    font-weight: 700;
    transition: 0.5s;
}

.menu ul li a:hover {
    color: var(--secondary);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 1em;
    padding-block: 1em;
}

.content p {
    line-height: 1.5;
    text-align: justify;
}

.content ul {
    padding-left: 1.2em;
}

.content ul li {
    padding-block: 0.5em;
}

.content ul li > h4 {
    padding-block: 10px;
}

.speakers {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2em;
}

.speaker {
    display: grid;
    grid-template-rows: 200px auto auto;
    place-items: center;
    gap: 10px;
}

.speaker > p,
.speaker > h2 {
    text-align: center;
    max-width: 35ch;
}

.speaker img {
    max-width: 100%;
    max-height: 200px;
    border-radius: 8px;
}

a.button {
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    margin: 4px 2px;
    cursor: pointer;
}

.purple-bg {
    background-color: var(--purple);
}

hr {
    height: 3px;
    border: none;
    border-radius: 16px;
    width: 100%;
    background-color: var(--secondary);
    margin-block: 1em;
}

footer {
    width: 100%;
    grid-column: 1 / -1;
    background-color: var(--primary);
    color: var(--background);
    min-height: 50px;
    display: grid;
    place-items: center;
}

.links-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    row-gap: 1em;
    place-items: center start;
}

.links-grid hr {
    grid-column: 1 / -1;
    background-color: var(--primary);
}

.links-grid a {
    place-self: center;
    background-color: var(--primary);
}

.links-grid #unifier1 {
    grid-row: 1 / 6;
    grid-column: -2 / -1;
}

.links-grid #unifier2 {
    grid-row: 1 / 3;
    grid-column: -2 / -1;
}

.links-grid #unifier3 {
    grid-row: 4 / 6;
    grid-column: -2 / -1;
}

.links-grid #unifier4 {
    grid-row: 7 / 9;
    grid-column: -2 / -1;
}


@media all and (max-width: 770px) {
    main {
        padding-inline: 0;
    }

    main header {
        position: fixed;
        justify-content: space-between;
        flex-direction: row-reverse;
        padding: 1em 2em;
    }

    .hidden {
        display: block;
    }

    main > img {
        padding-top: 77px;
    }

    .divider {
        grid-template-columns: 1fr;
        padding-inline: 1em;
    }

    .menu {
        position: fixed;
        height: calc(100dvh - 77px);
        background-color: var(--primary);
        bottom: 0;
        right: 0;
        padding-inline: 1em;
    }

    .menu ul {
        gap: 2em;
    }

    .menu a {
        color: var(--background);
    }

    .menu[data-visible="no"] {
        display: none;
    }
}

@media all and (max-width: 580px) {
    .links-grid {
        grid-template-columns: 1fr 2fr;
    }

    .links-grid #unifier1 {
        grid-row: 6 / span 1;
        grid-column: 1 / -1;
    }

    .links-grid #unifier2 {
        grid-row: 3 / 4;
        grid-column: 1 / -1;
    }

    .links-grid #unifier3 {
        grid-row: 7 / 8;
        grid-column: 1 / -1;
    }

    .links-grid #unifier4 {
        grid-row: 11 / 12;
        grid-column: 1 / -1;
    }

    .links-grid #unifier5 {
        grid-column: 1 / -1;
    }
}

@media all and (max-width: 480px) {
    .links-grid {
        grid-template-columns: 1fr;
        place-items: center;
    }

    .links-grid > * {
        text-align: center;
    }

    .links-grid #unifier1 {
        grid-row: 12 / span 1;
        grid-column: 1 / -1;
    }

    .links-grid #unifier2 {
        grid-row: 5 / 6;
        grid-column: 1 / -1;
    }

    .links-grid #unifier3 {
        grid-row: 11 / 12;
        grid-column: 1 / -1;
    }

    .links-grid #unifier4 {
        grid-row: 17 / 18;
        grid-column: 1 / -1;
    }

    .links-grid #unifier5 {
        grid-column: 1 / -1;
    }
}

@media all and (max-width: 360px) {
    main header {
        padding: 1em;
    }

    .lang {
        gap: 1em;
    }

    .lang > img {
        max-width: 30px;
    }

    .lang > strong {
        font-size: 0.8rem;
    }

    .menu {
        width: 100%;
    }

    .menu ul {
        align-items: center;
    }
}