:root {
    --text: #03060a;
    --background: #fafbfd;
    --primary: #4372c2;
    --secondary: #f0ad83;
    --accent: #e9f64a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text);
    font-family: Roboto;
}

main {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-inline: 1em;
}

main header {
    background-color: var(--primary);
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 1em;
}

.hidden {
    display: none;
}

.lang {
    color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.lang > img {
    max-width: 45px;
}

.lang > img:hover {
    cursor: pointer;
}

main > img {
    max-width: 100%;
}

.divider {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 4fr;
    padding-bottom: 2em;
}

.menu {
    padding-top: 1em;
}

.menu ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 1em;
}

.menu a {
    text-decoration: none;
    color: var(--primary);
    font-size: 1.1rem;
    font-weight: 700;
    transition: 0.5s;
}

.menu ul li a:hover {
    color: var(--secondary);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 1em;
    padding-block: 1em;
}

.content p {
    line-height: 1.5;
    text-align: justify;
}

.content ul {
    padding-left: 1.2em;
}

.content ul li {
    padding-block: 0.5em;
}

.speakers {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2em;
}

.speaker {
    display: grid;
    grid-template-rows: 200px auto auto;
    place-items: center;
    gap: 10px;
}

.speaker > p,
.speaker > h2 {
    text-align: center;
    max-width: 35ch;
}

.speaker img {
    max-width: 100%;
    max-height: 200px;
    border-radius: 8px;
}

hr {
    height: 3px;
    border: none;
    border-radius: 16px;
    width: 100%;
    background-color: var(--secondary);
    margin-block: 1em;
}

footer {
    width: 100%;
    grid-column: 1 / -1;
    background-color: var(--primary);
    color: var(--background);
    min-height: 50px;
    display: grid;
    place-items: center;
}